In [1]:
print("hello world")

hello world

In [29]:
def add(x,y):
    return x+y

def subtract(x,y):
    return x-y

def multiply(x,y):
    return x*y

def divide(x,y):
    if y!=0:
       return x/y
    else:
       return "error! division"

def calculator():
    print("select operation")
    print("choose operation")
    print("1. add")
    print("2. subtract")
    print("3. multiply")
    print("4. divide")

    while True:
        choice = input("enter choice(1/2/3/4)")
        if choice in ['1','2','3','4']:
                num1= float(input("enter first number:"))
                num2= float(input("enter second number:"))

        if choice == '1':
            print(f"The result is: {add(num1 , num2)}")
        elif choice == '2':
            print(f"The result is: {subtract(num1 , num2)}")
        elif choice == '3':
            print(f"The result is: {multiply(num1 , num2)}")
        elif choice == '4':
            print(f"The result is: {divide(num1 , num2)}")

        next_calculation = input("do you want to perform another calculation? (yes/no):")
        if next_calculation.lower() != 'yes':
            break
        else:
            print("invalid input")

calculator()

select operation
choose operation
1. add
2. subtract
3. multiply
4. divide
enter choice(1/2/3/4)1
enter first number:29
enter second number:12
The result is: 41.0
do you want to perform another calculation? (yes/no):yes
invalid input
enter choice(1/2/3/4)3
enter first number:6
enter second number:4
The result is: 24.0
do you want to perform another calculation? (yes/no):no

In [28]:
2

2